@model SynelTestTask.Models.Employee

<div class="container card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white">Edit Employee</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <div class="border p-3 mt-4">
                @* <div asp-validation-summary="All"></div> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="PayrollNumber" class="form-control border-0 shadow"/>
                    <label asp-for="PayrollNumber" class="ms-2"></label>
                    @* <span asp-validation-for="Name" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Forenames" class="form-control border-0 shadow"/>
                    <label asp-for="Forenames" class="ms-2"></label>
                    @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Surname" class="form-control border-0 shadow"/>
                    <label asp-for="Surname" class="ms-2"></label>
                    @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input type="date" asp-for="DateOfBirth" class="form-control border-0 shadow"/>
                    <label asp-for="DateOfBirth" class="ms-2"></label>
                    @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Telephone" class="form-control border-0 shadow"/>
                    <label asp-for="Telephone" class="ms-2"></label>
                    @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Mobile" class="form-control border-0 shadow"/>
                    <label asp-for="Mobile" class="ms-2"></label>
                    @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Address" class="form-control border-0 shadow"/>
                    <label asp-for="Address2" class="ms-2"></label>
                    @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Postcode" class="form-control border-0 shadow"/>
                    <label asp-for="Postcode" class="ms-2"></label>
                    @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="EmailHome" class="form-control border-0 shadow"/>
                    <label asp-for="EmailHome" class="ms-2"></label>
                    @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
                </div>
                <div class="form-floating py-2 col-12">
                    <input type="date" asp-for="StartDate" class="form-control border-0 shadow"/>
                    <label asp-for="StartDate" class="ms-2"></label>
                    @* <span asp-validation-for="DisplayOrder" class="text-danger"></span> *@
                </div>
                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    @* <div class="col-6 col-md-3">
                        <a asp-controller="Employee" asp-action="Index" class="btn btn-outline-secondary border form-control">
                            Back to List
                        </a>
                    </div> *@
                </div>
            </div>
        </form>
    </div>
</div>